<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/build']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">BUILD</a>
  <a [routerLink]="['/deploy']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DEPLOY</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>
