<p>Angular Seed is a starter project that implements best practices in coding, building and testing Angular apps.</p>

<h2 i18n>Features</h2>
<ul>
    <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
    <li>Production and development builds.</li>
    <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
    <li>End-to-end tests with Cypress.</li>
    <li>Development server with live reload.</li>
    <li>TypeScript definition management using Types.</li>
    <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>

<h3>Additional features in this Fork</h3>
<ul>
    <li>Microsoft ASP.NET Core API from Azure SQL Server database (database-driven backend)</li>
    <li>Instructions on how to setup Visual Studio Team Services (VSTS) build and deployment to Azure</li>
</ul>